:root {

    --serpent-gladiator-top-line: 2;
    --arctic-flipper-top-line: 5;
    --necrosis-top-line: 8;
}


body {

    /* #d9d1c5; */
    --main-background-color: #97805a11;
    --grid-background-color: #97805a33;
    --grid-border-color: #ccc3ba; 


}

.dark-mode {

    /* #443c31 */
    
    --main-background-color: #97805a22;
    --grid-background-color: #97805a33;
    --grid-border-color: #1c1914;
}

body {
    
}

#content-column {
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.img-frame {
    width: 100%
}

#filter-and-query-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#filter-query-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: min(95%, 620px);
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--header-secound-color-a);
    cursor: pointer;
}

#filter-query-caret {
    width: auto;
    height: 1.3rem;
    transform: translateY(0.15rem);
}

#filter-query-body {
    display: none;
    flex-flow: column;
    justify-content: flex-start;
}

#calc-output-container2 {
    display: none;
}

#calc-output-outer-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10rem;
}

#calc-output-containers {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.6rem;
    min-height: 5rem;
    min-width: 15rem;
    border-radius: 5px;
    color: var(--header-secound-color-a);
    background-color: #fff6;
    border: 0.2rem solid var(--header-secound-color-a);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-weight: bold;
}

.calc-output-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
}

.calc-output-header { grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2; }
.calc-output-atk { display: none; grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3; }
.calc-output-hp { display: none; grid-column-start: 1; grid-column-end: 2; grid-row-start: 3; grid-row-end: 4; }
.calc-output-def { display: none; grid-column-start: 1; grid-column-end: 2; grid-row-start: 4; grid-row-end: 5; }

.output-header {
    font-size: 0.7rem;
    font-weight: bold;
}

.output-value {
    font-size: 0.9rem;
    font-weight: bold;
}

.output-type {
    font-size: 0.6rem;
}

#selected-grid-view {
    display: grid;
    grid-template-columns:  repeat(16, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    grid-auto-columns: 12.5%;
    column-gap: 0;
    row-gap: 0;
    width: min(95%, 620px);
    font-size: 0.85rem;
    overflow-wrap: break-word;
    line-height: 1.2;
    letter-spacing: 0.01rem;
    padding-top: 1.5rem;
}

#selected-grid-view img {
    cursor: pointer;
}

.selected-column-helmet { grid-column-start: 1; grid-column-end: 3; }
.selected-column-helmet-previous-1 { grid-column-start: 1; grid-column-end: 2; }
.selected-column-helmet-previous-2 { grid-column-start: 2; grid-column-end: 3; }


.selected-column-armor { grid-column-start: 3; grid-column-end: 5; }
.selected-column-legs { grid-column-start: 5; grid-column-end: 7; }
.selected-column-main-hand { grid-column-start: 7; grid-column-end: 9; }
.selected-column-off-hand { position: relative; grid-column-start: 9; grid-column-end: 11; }
.selected-column-off-hand-previous-1 { grid-column-start: 9; grid-column-end: 10; }
.selected-column-off-hand-previous-2 { grid-column-start: 10; grid-column-end: 11; }

.selected-column-accessory-1 { grid-column-start: 11; grid-column-end: 13; }
.selected-column-accessory-2 { grid-column-start: 13; grid-column-end: 15; }
.selected-column-accessory-3 { grid-column-start: 15; grid-column-end: 17; }

.selected-row-now { grid-row-start: 1; grid-row-end: 2; }
.selected-row-previous-1 { grid-row-start: 2; grid-row-end: 3; }
.selected-row-previous-2 { grid-row-start: 3; grid-row-end: 4; }

.selected-previous {
    opacity: 0;
}

#grid-view {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 0.3333fr;
    grid-template-rows: repeat(13, auto);
    grid-auto-flow: column;
    column-gap: 0;
    row-gap: 0;
    width: min(95%, 620px);
    font-size: 0.85rem;
    overflow-wrap: break-word;
    line-height: 1.2;
    letter-spacing: 0.01rem;
}

#grid-view div {
    line-height: 0;
}

#grid-view img {
    border: 0 solid #000080;
}

.info-panel-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 1rem;
    width: auto;
    z-index: 90;
}

.info-panel-absolute {
    position: absolute;
}

#info-panel {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 15rem;
    padding-top: 0.7rem;
    background-image: url(layout/context-arrow.svg);
    background-repeat: no-repeat;
    background-size: auto 0.8rem;
    background-position: 50% 0;
    z-index: 100;
}

#panel-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0.5rem;
    background-color: #fffc;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.2rem solid #00004daa;
    border-radius: 5px;
}

.info-panel-type {
    align-self: flex-end;
    font-size: 0.75rem;
    z-index: 100;
}

#info-panel-earlier-gear {
    width: 100%;
}

#info-panel-earlier-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
}

.info-panel-earlier-row-1 { grid-row-start: 1; grid-row-end: 2; }
.info-panel-earlier-row-2 { grid-row-start: 2; grid-row-end: 3; }
.info-panel-earlier-column-1 { grid-column-start: 1; grid-column-end: 2; }
.info-panel-earlier-column-2 { grid-column-start: 2; grid-column-end: 3; }
.info-panel-earlier-column-3 { grid-column-start: 3; grid-column-end: 4; }
.info-panel-earlier-column-4 { grid-column-start: 4; grid-column-end: 5; }
.info-panel-earlier-column-5 { grid-column-start: 5; grid-column-end: 6; }

#info-panel-earlier-grid img {
    width: 100%;
    height: auto;
}


.accessory-button-1 {
    background-color: black;
}

.accessory-button-1 img {
    background-color: #97805a22;
}

.column-helmet { grid-column-start: 1; grid-column-end: 2; }
.column-armor { grid-column-start: 2; grid-column-end: 3; }
.column-legs { grid-column-start: 3; grid-column-end: 4; }
.column-main-hand { grid-column-start: 4; grid-column-end: 5; }
.column-off-hand { grid-column-start: 5; grid-column-end: 6; }
.column-accessory { grid-column-start: 6; grid-column-end: 7; }
.column-accessory-select { grid-column-start: 7; grid-column-end: 8; }

.row-header { grid-row-start: 1; grid-row-end: 2; }

.row-serpent-gladiator { grid-row-start: var(--serpent-gladiator-top-line); 
    grid-row-end: calc(var(--serpent-gladiator-top-line) + 3); }
.row-serpent-gladiator-accessory-1 { grid-row-start: var(--serpent-gladiator-top-line); 
    grid-row-end: calc(var(--serpent-gladiator-top-line) + 1); }
.row-serpent-gladiator-accessory-2 { grid-row-start: calc(var(--serpent-gladiator-top-line) + 1); 
    grid-row-end: calc(var(--serpent-gladiator-top-line) + 2); }
.row-serpent-gladiator-accessory-3 { grid-row-start: calc(var(--serpent-gladiator-top-line) + 2); 
    grid-row-end: calc(var(--serpent-gladiator-top-line) + 3); }

.row-arctic-flipper { grid-row-start: var(--arctic-flipper-top-line); 
    grid-row-end: calc(var(--arctic-flipper-top-line) + 3); }
.row-arctic-flipper-accessory-1 { grid-row-start: var(--arctic-flipper-top-line); 
    grid-row-end: calc(var(--arctic-flipper-top-line) + 1); }
.row-arctic-flipper-accessory-2 { grid-row-start: calc(var(--arctic-flipper-top-line) + 1); 
    grid-row-end: calc(var(--arctic-flipper-top-line) + 2); }
.row-arctic-flipper-accessory-3 { grid-row-start: calc(var(--arctic-flipper-top-line) + 2); 
    grid-row-end: calc(var(--arctic-flipper-top-line) + 3); }

.row-necrosis { grid-row-start: var(--necrosis-top-line); 
    grid-row-end: calc(var(--necrosis-top-line) + 3); }
.row-necrosis-accessory-1 { grid-row-start: var(--necrosis-top-line); 
    grid-row-end: calc(var(--necrosis-top-line) + 1); }
.row-necrosis-accessory-2 { grid-row-start: calc(var(--necrosis-top-line) + 1); 
    grid-row-end: calc(var(--necrosis-top-line) + 2); }
.row-necrosis-accessory-3 { grid-row-start: calc(var(--necrosis-top-line) + 2); 
    grid-row-end: calc(var(--necrosis-top-line) + 3); }

.row-gawrilla { grid-row-start: 12; 
    grid-row-end: 15; }
.row-cottageroar { grid-row-start: 15;
    grid-row-end: 18; }

.row-hootclaw {
    grid-row-start: 18;
    grid-row-end: 21;
}

.row-hootclaw-img {
    grid-row-start: 18;
    grid-row-end: 19;
}

.row-hootclaw-title-compact {
    grid-row-start: 18;
    grid-row-end: 20;
}

.row-hootclaw-title-1 {
    grid-row-start: 19;
    grid-row-end: 20;
}

.row-hootclaw-title-2 {
    grid-row-start: 19;
    grid-row-end: 21;
}

.row-hootclaw-spec {
    grid-row-start: 20;
    grid-row-end: 21;
}


.row-tidal-titan {
    grid-row-start: 21;
    grid-row-end: 24;
}

.row-tidal-titan-img {
    grid-row-start: 21;
    grid-row-end: 22;
}

.row-tidal-titan-title-compact {
    grid-row-start: 21;
    grid-row-end: 23;
}

.row-tidal-titan-title-1 {
    grid-row-start: 22;
    grid-row-end: 23;
}

.row-tidal-titan-title-2 {
    grid-row-start: 22;
    grid-row-end: 24;
}

.row-tidal-titan-spec {
    grid-row-start: 23;
    grid-row-end: 24;
}


.row-bon-appeti {
    grid-row-start: 24;
    grid-row-end: 27;
}

.row-bon-appeti-img {
    grid-row-start: 24;
    grid-row-end: 25;
}

.row-bon-appeti-title-compact {
    grid-row-start: 24;
    grid-row-end: 26;
}

.row-bon-appeti-title-1 {
    grid-row-start: 25;
    grid-row-end: 26;
}

.row-bon-appeti-title-2 {
    grid-row-start: 25;
    grid-row-end: 27;
}

.row-bon-appeti-spec {
    grid-row-start: 26;
    grid-row-end: 27;
}



.row-queen-bee {
    grid-row-start: 27;
    grid-row-end: 30;
}

.row-queen-bee-img {
    grid-row-start: 27;
    grid-row-end: 28;
}

.row-queen-bee-title-compact {
    grid-row-start: 27;
    grid-row-end: 29;
}

.row-queen-bee-title-1 {
    grid-row-start: 28;
    grid-row-end: 29;
}

.row-queen-bee-title-2 {
    grid-row-start: 28;
    grid-row-end: 30;
}

.row-queen-bee-spec {
    grid-row-start: 29;
    grid-row-end: 30;
}


.row-mecha-trojan {
    grid-row-start: 31;
    grid-row-end: 34;
}

.row-mecha-trojan-img {
    grid-row-start: 31;
    grid-row-end: 32;
}

.row-mecha-trojan-title-compact {
    grid-row-start: 31;
    grid-row-end: 33;
}

.row-mecha-trojan-title-1 {
    grid-row-start: 32;
    grid-row-end: 33;
}

.row-mecha-trojan-title-2 {
    grid-row-start: 32;
    grid-row-end: 34;
}

.row-mecha-trojan-spec {
    grid-row-start: 33;
    grid-row-end: 34;
}


.row-blackwing {
    grid-row-start: 34;
    grid-row-end: 37;
}

.row-blackwing-img {
    grid-row-start: 34;
    grid-row-end: 35;
}

.row-blackwing-title-compact {
    grid-row-start: 34;
    grid-row-end: 36;
}

.row-blackwing-title-1 {
    grid-row-start: 35;
    grid-row-end: 36;
}

.row-blackwing-title-2 {
    grid-row-start: 35;
    grid-row-end: 37;
}

.row-blackwing-spec {
    grid-row-start: 36;
    grid-row-end: 37;
}



.row-saberfang {
    grid-row-start: 37;
    grid-row-end: 40;
}

.row-saberfang-img {
    grid-row-start: 37;
    grid-row-end: 38;
}

.row-saberfang-title-compact {
    grid-row-start: 37;
    grid-row-end: 39;
}

.row-saberfang-title-1 {
    grid-row-start: 38;
    grid-row-end: 39;
}

.row-saberfang-title-2 {
    grid-row-start: 38;
    grid-row-end: 40;
}

.row-saberfang-spec {
    grid-row-start: 39;
    grid-row-end: 40;
}



.row-grim-reaper {
    grid-row-start: 40;
    grid-row-end: 43;
}

.row-grim-reaper-img {
    grid-row-start: 40;
    grid-row-end: 41;
}

.row-grim-reaper-title-compact {
    grid-row-start: 40;
    grid-row-end: 42;
}

.row-grim-reaper-title-1 {
    grid-row-start: 41;
    grid-row-end: 42;
}

.row-grim-reaper-title-2 {
    grid-row-start: 41;
    grid-row-end: 43;
}

.row-grim-reaper-spec {
    grid-row-start: 42;
    grid-row-end: 43;
}



.row-hell-drider{
    grid-row-start: 43;
    grid-row-end: 46;
}

.row-hell-drider-img {
    grid-row-start: 43;
    grid-row-end: 44;
}

.row-hell-drider-title-compact {
    grid-row-start: 43;
    grid-row-end: 45;
}

.row-hell-drider-title-1 {
    grid-row-start: 44;
    grid-row-end: 45;
}

.row-hell-drider-title-2 {
    grid-row-start: 44;
    grid-row-end: 46;
}

.row-hell-drider-spec {
    grid-row-start: 45;
    grid-row-end: 46;
}



.row-mega-maggot{
    grid-row-start: 46;
    grid-row-end: 49;
}

.row-mega-maggot-img {
    grid-row-start: 46;
    grid-row-end: 47;
}

.row-mega-maggot-title-compact {
    grid-row-start: 46;
    grid-row-end: 48;
}

.row-mega-maggot-title-1 {
    grid-row-start: 47;
    grid-row-end: 48;
}

.row-mega-maggot-title-2 {
    grid-row-start: 47;
    grid-row-end: 49;
}

.row-mega-maggot-spec {
    grid-row-start: 48;
    grid-row-end: 49;
}



.row-gargantua{
    grid-row-start: 49;
    grid-row-end: 52;
}

.row-gargantua-img {
    grid-row-start: 49;
    grid-row-end: 50;
}

.row-gargantua-title-compact {
    grid-row-start: 49;
    grid-row-end: 51;
}

.row-gargantua-title-1 {
    grid-row-start: 50;
    grid-row-end: 51;
}

.row-gargantua-title-2 {
    grid-row-start: 50;
    grid-row-end: 52;
}

.row-gargantua-spec {
    grid-row-start: 51;
    grid-row-end: 52;
}



.row-terrorthorn{
    grid-row-start: 52;
    grid-row-end: 55;
}

.row-terrorthorn-img {
    grid-row-start: 52;
    grid-row-end: 53;
}

.row-terrorthorn-title-compact {
    grid-row-start: 52;
    grid-row-end: 54;
}

.row-terrorthorn-title-1 {
    grid-row-start: 53;
    grid-row-end: 54;
}

.row-terrorthorn-title-2 {
    grid-row-start: 53;
    grid-row-end: 55;
}

.row-terrorthorn-spec {
    grid-row-start: 54;
    grid-row-end: 55;
}


.row-jade-wyrm {
    grid-row-start: 55;
    grid-row-end: 58;
}

.row-jade-wyrm-img {
    grid-row-start: 55;
    grid-row-end: 56;
}

.row-jade-wyrm-title-compact {
    grid-row-start: 55;
    grid-row-end: 57;
}

.row-jade-wyrm-title-1 {
    grid-row-start: 56;
    grid-row-end: 57;
}

.row-jade-wyrm-title-2 {
    grid-row-start: 56;
    grid-row-end: 58;
}

.row-jade-wyrm-spec {
    grid-row-start: 57;
    grid-row-end: 58;
}



.row-snow-beast {
    grid-row-start: 58;
    grid-row-end: 61;
}

.row-snow-beast-img {
    grid-row-start: 58;
    grid-row-end: 59;
}

.row-snow-beast-title-compact {
    grid-row-start: 58;
    grid-row-end: 60;
}

.row-snow-beast-title-1 {
    grid-row-start: 59;
    grid-row-end: 60;
}

.row-snow-beast-title-2 {
    grid-row-start: 59;
    grid-row-end: 61;
}

.row-snow-beast-spec {
    grid-row-start: 60;
    grid-row-end: 61;
}



.row-frostwing {
    grid-row-start: 61;
    grid-row-end: 64;
}

.row-frostwing-img {
    grid-row-start: 61;
    grid-row-end: 62;
}

.row-frostwing-title-compact {
    grid-row-start: 61;
    grid-row-end: 63;
}

.row-frostwing-title-1 {
    grid-row-start: 62;
    grid-row-end: 63;
}

.row-frostwing-title-2 {
    grid-row-start: 62;
    grid-row-end: 64;
}

.row-frostwing-spec {
    grid-row-start: 63;
    grid-row-end: 64;
}



.row-champion {
    grid-row-start: 65;
    grid-row-end: 74;
}

.row-champion-l1 {
    grid-row-start: 65;
    grid-row-end: 68;
}

.row-champion-l1-img {
    grid-row-start: 65;
    grid-row-end: 66;
}

.row-champion-l1-title-compact {
    grid-row-start: 65;
    grid-row-end: 67;
}

.row-champion-l1-title-1 {
    grid-row-start: 66;
    grid-row-end: 67;
}

.row-champion-l1-title-2 {
    grid-row-start: 66;
    grid-row-end: 68;
}

.row-champion-l1-spec {
    grid-row-start: 67;
    grid-row-end: 68;
}


.row-champion-l2 {
    grid-row-start: 68;
    grid-row-end: 71;
}

.row-champion-l2-img {
    grid-row-start: 68;
    grid-row-end: 69;
}

.row-champion-l2-title-compact {
    grid-row-start: 68;
    grid-row-end: 70;
}

.row-champion-l2-title-1 {
    grid-row-start: 69;
    grid-row-end: 70;
}

.row-champion-l2-title-2 {
    grid-row-start: 69;
    grid-row-end: 71;
}

.row-champion-l2-spec {
    grid-row-start: 70;
    grid-row-end: 71;
}

.row-champion-l3 {
    grid-row-start: 71;
    grid-row-end: 74;
}

.row-champion-l3-img {
    grid-row-start: 71;
    grid-row-end: 72;
}

.row-champion-l3-title-compact {
    grid-row-start: 71;
    grid-row-end: 73;
}

.row-champion-l3-title-1 {
    grid-row-start: 72;
    grid-row-end: 73;
}

.row-champion-l3-title-2 {
    grid-row-start: 72;
    grid-row-end: 74;
}

.row-champion-l3-spec {
    grid-row-start: 73;
    grid-row-end: 74;
}




.row-test-img-title {
    grid-row-start: 12;
    grid-row-end: 13;
}

.row-test-spec {
    grid-row-start: 13;
    grid-row-end: 15;
}


.spec {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.left {
    text-align:center;
}

.right {
    text-align: center;
}

.empty {
    width: 100%;

    background-color: var(--grid-background-color);
    border: 0.5px solid var(--grid-border-color);

    padding: 0;
    margin: 0;
}

.empty-block {
    visibility: visible;
    font-size: 0.3rem;
}

.empty-block span {
    visibility: hidden;
}

.text, .text-compact {
    width: 100%;

    background-color: var(--grid-background-color);
    border: 0.5px solid var(--grid-border-color);

    text-align: center;
    padding: 0.3rem 0.05rem 0 0.05rem;
    padding-bottom: 0.4rem;
}

.text-compact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 0rem;
    font-size: 0.65rem;
}

#item-text {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;

    background-color: #d9d1c5;
    border: 1px solid #b0afa9;

    text-align: center;
}

#item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 13;
}


#grid-view-container {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.set-title-background {
    background-repeat: no-repeat;
    background-size: auto min(90%, 8rem);
    background-position: 0.2rem 0.5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;  
    text-align: center;
}



#serpent-gladiator-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#artic-flipper-set-title {
    background-image: url(img/icon-artic-flipper-1.png);
}

#necrosis-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#gawrilla-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#cottageroar-set-title {
    background-image: url(img/icon-cottageroar-1.png);
}

#hootclaw-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#tidal-titan-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#bon-appeti-set-title {
    background-image: url(img/icon-bon-appeti-1.png);
}

#queen-bee-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#mecha-trojan-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#blackwing-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#saberfang-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#grim-reapor-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#hell-drider-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#mega-maggot-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#gargantua-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#terrorthorn-set-title {
    background-image: url(img/icon-terrorthorn-1.png);
}

#jade-wyrm-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#snow-beast-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}

#frostwing-set-title {
    background-image: url(img/icon-serpent-gladiator-4.png);
}




.gear-set-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;  
    text-align: center;
    transform: rotate(180deg);
}

.gear-set-title2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}



.calc-output {
    background-color: var(--grid-background-color);
    border: 0.5px solid var(--grid-border-color);

    text-align: center;
}

.output-col-title {
    grid-column-start: 1;
    grid-column-end: 2;
}

.output-col-inf {
    grid-column-start: 2;
    grid-column-end: 3;
}

.output-col-rang {
    grid-column-start: 3;
    grid-column-end: 4;
}

.output-col-cav {
    grid-column-start: 4;
    grid-column-end: 5;
}

.output-col-army {
    grid-column-start: 5;
    grid-column-end: 6;
}

.output-row-title {
    grid-row-start: 1;
    grid-row-end: 2;
}

.output-row-atk {
    grid-row-start: 2;
    grid-row-end: 3;
}

.output-row-hp {
    grid-row-start: 3;
    grid-row-end: 4;
}

.output-row-def {
    grid-row-start: 4;
    grid-row-end: 5;
}

#selected-grid-view-container {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin-bottom: 3rem;
}



.selected-gried-view-type {
    display: inline;
    position: relative;
    line-height: 0;
}
.selected-view-type-close {
    position: absolute;
    right: 0;
    top: -30px;
    width: calc(0.5rem + 20px);
    height: calc(0.5rem + 20px);
    padding: 5px;
    cursor: pointer;
}



#sub-selected-grid-view {
    display: grid;
    grid-template-columns:  0.25% 6% 6% 0.5% 6% 6% 0.5% 6% 6% 0.5% 6% 6% 0.5% 6% 6% 0.5 6% 6% 0.5% 6% 6% 0.5% 6% 6% 0.25%;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-auto-columns: 12.5%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    column-gap: 0;
    row-gap: 0;
    width: max(min(100%, 880px), 500px);
    font-size: 0.85rem;
    overflow-wrap: break-word;
    line-height: 1.2;
    letter-spacing: 0.01rem;
}